* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(0.25turn, #d9cfcc, #b1b1b5, #576c78);
}

#fullpage {
    display: flex;
    flex-direction: column;
}

.home {
    background-image: url("./img/banner.jpg");
    background-size: cover;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    position: absolute;
    cursor: pointer;
    width: 10vw;
    top: 15px;
    margin: 0 0 0 .75em;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    position: absolute;
    top: 90px;
    right: 40px;
    margin: 0 auto;
    list-style: none;
    text-transform: uppercase;
    z-index: 999;
}

.navbar a {
    display: block;
    font-size: 1.2em;
    color: #168E80;
    padding: 0.5em 1em;
    text-decoration: none;
    letter-spacing: .45rem;
    transition: all 0.4s ease 0s;
    font-weight: 700;
}

.navbar a:hover {
    color: #0C4F69;
    border-bottom: 2px solid #0C4F69;
}

.home h1 {
    font-size: 3vw;
    color: #168E80;
    position: relative;
    margin-left: 2%;
    opacity: 0;
    transition: all .5s ease 0s;
    transition-delay: 1s;
}

.home h3 {
    font-size: 2vw;
    height: 25%;
    margin-left: 5%;
    line-height: 2em;
    opacity: 0;
    transition: all 1s ease 0s;
    transition-delay: 2s;
}

.fp-viewing-0 h1,
.fp-viewing-0 h3 {
    opacity: 1;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/strip.png);
    position: absolute;
    right: 0px;
    top: 10px;
    width: 20vw;
    height: 15vh;
    z-index: 2;
}

.title a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    text-shadow: 2px 2px 0 black;
}

.about img {
    height: 100%;
    width: 100%;
}

.about .first {
    background-image: url(./img/about.jpg);
}

.about .second {
    background-image: url(./img/about2.jpg);
}

.about .third {
    background-image: url(./img/about3.jpg);
}

.first,
.second,
.third {
    background-size: cover;
    background-position: center;
    filter: blur(0px) grayscale(40%);
}

.bg-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 50%;
    border: 2px solid #f1f1f1;
    transform: translate(-50%, -50%);
    filter: blur(10px);
    opacity: 0.5;
    transition: all .5s ease-in;
    transition-delay: .4s;
}

.fp-viewing-1-0 .bg-text,
.fp-viewing-1-1 .bg-text,
.fp-viewing-1-2 .bg-text {
    opacity: 1;
}

.description {
    position: absolute;
    top: 25%;
    left: 10%;
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 0 black;
    font-weight: bold;
    font-size: 2em;
    line-height: 1.5em;
    padding: 1em;
    filter: blur(0px);
    overflow: hidden;
    opacity: 0;
    transition: all 1.5s ease-in;
    transition-delay: .7s;
}

.bg-text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 4000px rgba(255, 255, 255, .7);
    filter: blur(10px);
    z-index: -1;
}

.fp-viewing-1-0 .description,
.fp-viewing-1-1 .description,
.fp-viewing-1-2 .description {
    opacity: 1;
}