* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(0.25turn, #d9cfcc, #b1b1b5, #576c78);
}

#fullpage {
    display: flex;
    flex-direction: column;
}

.home {
    background-image: url("./img/banner.jpg");
    background-size: cover;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    position: absolute;
    cursor: pointer;
    width: 10vw;
    top: 15px;
    margin: 0 0 0 .75em;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    position: absolute;
    top: 90px;
    right: 40px;
    margin: 0 auto;
    list-style: none;
    text-transform: uppercase;
    z-index: 999;
}

.navbar a {
    display: block;
    font-size: 1.2em;
    color: #168E80;
    padding: 0.5em 1em;
    text-decoration: none;
    letter-spacing: .45rem;
    transition: all 0.4s ease 0s;
    font-weight: 700;
}

.navbar a:hover {
    color: #0C4F69;
    border-bottom: 2px solid #0C4F69;
}

.home h1 {
    font-size: 3vw;
    color: #168E80;
    position: relative;
    margin-left: 2%;
    opacity: 0;
    transition: all 1.5s ease 0s;
}

.home h3 {
    font-size: 2vw;
    height: 25%;
    margin-left: 5%;
    line-height: 2em;
    opacity: 0;
    transition: all 1s ease 0s;
    transition-delay: 0.5s;
}

.home:hover h1,
.home:hover h3 {
    opacity: 1;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/strip.png);
    position: absolute;
    right: 0px;
    top: 10px;
    width: 20vw;
    height: 15vh;
}

.title a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
}